/* h1 {
    color: rgb(132, 0, 255);
}

nav {
    text-decoration: none;

}

a :hover {
    color: rgb(231, 172, 10);
}


nav :hover {
    color: rgb(245, 11, 10);
}

p,
li {
    font-size: x-large;
}

li {
    list-style: none;
}

table,
th,
td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 15px;
}

table {
    padding: 5px;
    background-color: rgb(155, 124, 124);
}

th {
    background-color: rgb(228, 211, 175);
}

td {
    background-color: rgb(248, 246, 250);
    padding: 3px;
    text-align: center;
} */

a:link,
a:visited {
    color: rgb(83, 243, 3);
    text-decoration: none;
}

/* --------------  HEADER  -------------- */

header {
    background-color: whitesmoke;
    color: #333;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    margin-top: 8px;
}

.header_line_blue {
    background-color: #2172b9;
    height: 11px;
}

.header_line_grey {
    background-color: #c6c6c6;
    height: 16px;
}

.header_navigation ul {
    margin-right: 35px;
    padding: 0;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    justify-content: space-between;
}

.header_navigation ul li {
    display: inline-block;
}

.header_navigation ul li a {
    display: block;
    padding: 10px 20px;
    transition: all 0.4s linear;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    letter-spacing: 1.5px;
}

.header_navigation ul li a:hover {
    background-color: #5757571c;
    color: #2172b9ef;
    font-size: x-large;
}

.header a {
    text-decoration: none;
}

/* --------------  FOOTER  -------------- */

.footer a {
    color: #575757
}

.footer_top {
    padding: 30px 0;
    background-color: #c6c6c6;
    color: #333;
}

.footer_top a:hover {
    color: #2172b9;
    cursor: pointer;
}

.footer_top_container {
    padding: 0px 65px;
    max-width: 1600px;
    margin: auto;
}

.footer_top_cc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_top_c {
    width: auto;
    padding: 0 30px;
    padding-top: 45px;
    align-items: center;
    list-style: none;
}

.footer_top_c_right {
    padding-left: 75px;
    padding-right: 15px;
    width: 460px;
    align-items: center;
}

.footer_logo {
    padding: 20px 0;
}

.footer_top_line {
    background-color: #575757;
    height: 3px;
}

.footer_top_SM ul {
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.footer_top_SM ul li {
    display: inline-block;
    padding: 15px;
}

.footer_bottom {
    background-color: #2172b9;
    display: flex;
    justify-content: center;
}

.footer_bottom a:hover {
    letter-spacing: 1px;
    transition: all 0.6s cubic-bezier(0.25, 0.1, 0.71, 0.85);
}

.footer_bottom ul {
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    justify-content: space-between;
}

.footer_bottom ul li {
    display: inline-block;
}

.footer_bottom ul li a {
    display: block;
    padding: 2px 20px;
    cursor: pointer;
    color: white;
}