
h1 {
    color: rgb(132, 0, 255);
}

a:link,
a:visited {
    color: rgb(39, 3, 243);
    text-decoration: none;
    font-size: larger;
}

nav {
    text-decoration: none;

}

a :hover {
    color: rgb(231, 172, 10);
}


nav :hover {
    color: rgb(245, 11, 10);
}

p,
li {
    font-size: x-large;
}

li {
    list-style: none;
}

table,
th,
td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 15px;
}

table {
    padding: 5px;
    background-color: rgb(155, 124, 124);
}

th {
    background-color: rgb(228, 211, 175);
}

td {
    background-color: rgb(248, 246, 250);
    padding: 3px;
    text-align: center;
}

/* --------------  HEADER  -------------- */

header{
    background-color: whitesmoke;
    color: #333; 
}

.header_container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.header_logo {
    margin-top: 8px;
}

.header_line_blue {
    background-color: #2172b9;
    height: 11px;
}

.header_line_grey {
    background-color: #c6c6c6;
    height: 16px;
}
  
.header_navigation ul {
    margin-right: 35px;
    padding: 0;
    list-style: none; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    justify-content: space-between;
}

.header_navigation ul li {
    display: inline-block; 
}

.header_navigation ul li a {
    display: block;
    padding: 10px 20px;
    transition: all 0.4s linear;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    letter-spacing: 1.5px;
}

.header_navigation ul li a:hover {
    background-color:#5757571c ;
    color:#2172b9ef;             
    font-size: x-large;
}

.header a {
    text-decoration: none;
} 








