{% extends "base.html" %}

{% block titulo %} Nuevo cliente {% endblock %}

{% load static %}

{% block contenido %}

<div class="main_container">
    <div class="main_c_m_title">
        <h2>Nuevo cliente</h2>
        <div class="main_line_blue"></div>
    </div>
    <form class="main_form" action="{% url 'cliente_create' %}" method="post">
        {% csrf_token %}
        <div class="main_form_container">
            <div class="main_form_field">
                {{ formulario.CIF.errors }}
                <label for="{{ formulario.CIF.id_for_label }}">CIF: </label>
                {{ formulario.CIF }}
            </div>
            <div class="main_form_field">
                {{ formulario.nombreEmpresa.errors }}
                <label for="{{ formulario.nombreEmpresa.id_for_label }}">Nombre de la empresa: </label>
                {{ formulario.nombreEmpresa }}
            </div>
            <div class="main_form_field">
                {{ formulario.direccion.errors }}
                <label for="{{ formulario.direccion.id_for_label }}">Dirección: </label>
                {{ formulario.direccion }}
            </div>
            <div class="main_form_field">
                {{ formulario.datosContacto.errors }}
                <label for="{{ formulario.datosContacto.id_for_label }}">Telefono: </label>
                {{ formulario.datosContacto }}
            </div>
        </div>
        <input type="submit" value="Nuevo cliente" />
    </form>
</div>

{% endblock %}