{% extends "base.html" %}

{% block titulo %} Modificar cliente {% endblock %}

{% load static %}

{% block contenido %}

<div class="main_container">
    <div class="main_c_m_title">
        <h2>Modificar cliente</h2>
        <div class="main_line_blue"></div>
    </div>
    <form id="formulario2" class="main_form" action="" method="post">
        {% csrf_token %}
        <div class="main_form_container">
            <div class="main_form_field">
                
                <label for="{{ formulario.CIF.id_for_label }}">CIF: </label>
                {{ formulario.CIF }}
                {{ formulario.CIF.errors }}
            </div>
            <div class="main_form_field">
                {{ formulario.nombreEmpresa.errors }}
                <label for="{{ formulario.nombreEmpresa.id_for_label }}">Nombre de la empresa: </label>
                {{ formulario.nombreEmpresa }}
            </div>
            <div class="main_form_field">
                {{ formulario.direccion.errors }}
                <label for="{{ formulario.direccion.id_for_label }}">Dirección: </label>
                {{ formulario.direccion }}
            </div>
            <div class="main_form_field">
                {{ formulario.datosContacto.errors }}
                <label for="{{ formulario.datosContacto.id_for_label }}">Telefono: </label>
                {{ formulario.datosContacto }}
            </div>
            <div class="main_form_field">
                {{ formulario.email.errors }}
                <label for="{{ formulario.email.id_for_label }}">Email: </label>
                {{ formulario.email }}
            </div>
        </div>
        <div class="main_form_button">
            <input type="submit" value="Comfirmar cambios de cliente" />
        </div>
    </form>
</div>

{% endblock %}