
{% extends "base.html" %}

{% block titulo %}Listado de clientes{% endblock %}

{% load static %}

{% block contenido %}

<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>LISTADO DE CLIENTES</h2>
        </div>
        <a href="/appGestionPedidos/cliente/create" alt="crear_cliente">AÑADIR CLIENTE</a>   
    </div>
    <div class="main_table_container">
        {% if cliente_list %}
        <table class="main_table">
            <thead>
                <tr>
                    <th>CIF</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Contacto</th>
                    <th class="main_table_esp_1" colspan="2">Opciones</th>
                </tr>
            </thead>
            {% for cliente in cliente_list %}
            <tbody>
                <tr class="lista_cliente">
                    <td>{{ cliente.CIF }}</td>
                    <td>{{ cliente.nombreEmpresa }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.datosContacto }}</td>
                    <td><a href="/appGestionPedidos/modificar-cliente/{{ cliente.id }}"><img src="{% static 'imagenes\boton_modificar.png' %}" alt="boton_modificar"></a></td>
                    <td><a href="/appGestionPedidos/eliminar-cliente/{{ cliente.id }}"><img src="{% static 'imagenes\boton_borrar.png' %}" alt="boton_borrar"></a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>No hay clientes creados.</p>
        {% endif %}
    </div>
</div>

{% endblock %}