{% extends "base.html" %}

{% block titulo %}Listado de componentes{% endblock %}

{% load static %}

{% block contenido %}

<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>LISTADO DE COMPONENTES</h2>
        </div>
        <a href="/appGestionPedidos/componente/create" alt="crear_cliente">AÑADIR COMPONENTE</a>   
    </div>
    <div class="main_table_container">
        {% if componente_list %}
        <table class="main_table">
            <thead>
                <tr>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th class="main_table_esp_1" colspan="2">Opciones</th>
                </tr>
            </thead>
            {% for componente in componente_list %}
            <tbody class="main_table_contenido">
                <tr>
                    <td>{{ componente.codigoReferencia }}</td>
                    <td>{{ componente.nombreModelo }}</td>
                    <td>{{ componente.marca }}</td>
                    <td class="main_table_esp_modificar">
                        <button><a href="/appGestionPedidos/modificar-componente/{{ componente.id }}">MODIFICAR</a></button>
                    </td>
                    <td class="main_table_esp_borrar">
                        <button><a href="/appGestionPedidos/eliminar-componente/{{ componente.id }}">BORRAR</a></button>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>No hay componentes creados.</p>
        {% endif %}
    </div>
</div>
    
{% endblock %}