{% extends "base.html" %}

{% block titulo %}Detalles del pedido{% endblock %}

{% load static %}

{% block contenido %}

{% if pedido %}
<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>DETALLES DEL PEDIDO: {{ pedido.id }}</h2>
        </div>
        <a href="/appGestionPedidos/productoPedido/create" alt="crear_cliente">ASOCIAR PRODUCTO</a>   
    </div>
    {% if pedido.producto.all %}
    <div class="main_table_container">
        <table class="main_table">
            <thead>
                <tr>
                    <th>REF. Producto</th>
                    <th>Nombre Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th class="main_table_esp_1" colspan="2">Opciones</th>
                </tr>
            </thead>
            {% for productoPedido in pedido.productopedido_set.all %}
            <tbody class="main_table_contenido">
                <tr>
                    <td>{{ productoPedido.idProducto.referencia }}</td>
                    <td>{{ productoPedido.idProducto.nombre }}</td>
                    <td>{{ productoPedido.cantidad }}</td>
                    <td>{{ productoPedido.idProducto.precio }}</td>
                    <td class="main_table_esp_modificar">
                        <button><a href="/appGestionPedidos/modificar-productoPedido/{{ productoPedido.id }}">MODIFICAR</a></button>
                    </td>
                    <td class="main_table_esp_borrar">
                        <button><a href="/appGestionPedidos/eliminar-productoPedido/{{ productoPedido.id }}">BORRAR</a></button>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>No hay detalles asociados al pedido.</p>
    {% endif %}
</div>
{% else %}
<p>No existe este pedidos</p>
{% endif %}

{% endblock %}