{% extends "base.html" %}

{% block titulo %}Listado de pedidos{% endblock %}

{% load static %}

{% block contenido %}

<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>LISTADO DE PEDIDOS</h2>
        </div>
        <a href="/appGestionPedidos/pedido/create" alt="crear_pedido">CREAR PEDIDO</a>   
    </div>
    <div class="main_table_container">
        {% if pedido_list %}
        <table class="main_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Referencia</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th class="main_table_esp_1" colspan="3">Opciones</th>
                </tr>
            </thead>
            {% for pedido in pedido_list %}
            <tbody class="main_table_contenido">
                <tr><a href="/appGestionPedidos/pedido/create"></a> 
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.referencia }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td class="main_table_esp_modificar">
                        <button><a href="/appGestionPedidos/modificar-pedido/{{ pedido.id }}">MODIFICAR</a></button>
                    </td>
                    <td class="main_table_esp_borrar">
                        <button><a class="btnEliminacion" href="/appGestionPedidos/eliminar-pedido/{{ pedido.id }}">BORRAR</a></button>
                    </td>
                    <td class="main_table_esp_detalles">
                        <button><a href="/appGestionPedidos/detallesPedido/{{ pedido.id }}">DETALLES</a></button>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>No hay pedidos creados.</p>
        {% endif %}
    </div>
    {% if is_paginated %}
    <div class="pagination">
        {% for i in paginator.page_range %}
        <a {% if page_obj.number == i %} class="active" {% endif %} href="?page={{i}}">{{ i }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}