{% extends "base.html" %}

{% block titulo %}Detalles del pedido{% endblock %}

{% load static %}

{% block contenido %}

{% if pedido %}
<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>DETALLES DEL PEDIDO: {{ pedido.id }}</h2>
        </div>
        <div class="main_title_detail">
            <ul>
                <li>{{ pedido.referencia }}</li>
                <li>{{ pedido.fecha }}</li>
                <li>{{ pedido.cliente.CIF }}</li>
                <li>{{ pedido.cliente.nombreEmpresa }}</li>
                <li>{{ pedido.precioTotal }}</li>
            </ul>
        </div>
        <a href="/appGestionPedidos/productoPedido/create"><img src="{% static 'imagenes\crear_cliente_2.png' %}" alt="Añadir productos al pedido"></a>   
    </div>
    {% if pedido.producto.all %}
    <div class="main_table_container">
        <table class="main_table">
            <thead>
                <tr>
                    <th>REF. Producto</th>
                    <th>Nombre Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                </tr>
            </thead>
            {% for productoPedido in pedido.productopedido_set.all %}
            <tbody class="main_table_contenido">
                <tr>
                    <td>{{ productoPedido.idProducto.referencia }}</td>
                    <td>{{ productoPedido.idProducto.nombre }}</td>
                    <td>{{ productoPedido.cantidad }}</td>
                    <td>{{ productoPedido.idProducto.precio }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>No hay detalles asociados al pedido.</p>
    {% endif %}
</div>
{% else %}
<p>No existe este pedidos</p>
{% endif %}

{% endblock %}