{% extends "base.html" %}

{% block titulo %}Listado de pedidos{% endblock %}

{% load static %}

{% block contenido %}

<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>LISTADO DE PEDIDOS</h2>
        </div>
        <a href="/appGestionPedidos/pedido/create"><img src="{% static 'imagenes\crear_cliente_2.png' %}" alt="crear_pedido"></a>   
    </div>
    <div class="main_table_container">
        {% if pedido_list %}
        <table class="main_table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Referencia</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th class="main_table_esp_1" colspan="3">Opciones</th>
                </tr>
            </thead>
            {% for pedido in pedido_list %}
            <tbody class="main_table_contenido">
                <tr><a href="/appGestionPedidos/pedido/create"></a> 
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.referencia }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td class="main_table_esp_modificar"><a href="/appGestionPedidos/modificar-pedido/{{ pedido.id }}">MODIFICAR</a></td>
                    <td class="main_table_esp_borrar"><a href="/appGestionPedidos/eliminar-pedido/{{ pedido.id }}">BORRAR</a></td>
                    <td><a href="/appGestionPedidos/detallesPedido/{{ pedido.id }}">DETALLES</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>No hay pedidos creados.</p>
        {% endif %}
    </div>
</div>

{% endblock %}