{% extends "base.html" %}

{% block titulo %}Listado de productos{% endblock %}

{% load static %}

{% block contenido %}
<div class="main_container">
    <div class="main_title_container">
        <div class="main_title">
            <h2>LISTADO DE PRODUCTOS</h2>
        </div>
        <a href="/appGestionPedidos/producto/create" alt="crear_cliente">AÑADIR PRODUCTO</a>
    </div>
    <div class="main_table_container">
        {% if producto_list %}
        <table class="main_table">
            <thead>
                <tr>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th class="main_table_esp_1" colspan="2">Opciones</th>
                </tr>
            </thead>
            {% for producto in producto_list %}
            <tbody class="main_table_contenido">
                <tr>
                    <td>{{ producto.referencia }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }} €</td>
                    <td>{{ producto.categoria }}</td>
                    <td class="main_table_esp_modificar">
                        <button><a href="/appGestionPedidos/modificar-producto/{{ producto.id }}">MODIFICAR</a></button>
                    </td>
                    <td class="main_table_esp_borrar">
                        <button><a href="/appGestionPedidos/eliminar-producto/{{ producto.id }}">BORRAR</a></button>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>No hay productos creados.</p>
        {% endif %}
    </div>
    {% if is_paginated %}
    <div class="pagination">
        {% for i in paginator.page_range %}
        <a {% if page_obj.number == i %} class="active" {% endif %} href="?page={{i}}">{{ i }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}